<!DOCTYPE html>
<html>
<head>
	<title>Mastermind</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="<%= url("/style.css")%>">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
	<div class="header">
		<div class="container">
			<h1>Mastermind</h1>
		</div>
	</div>
	<div class="main">
		<div class="container">
			<h2><%=message%></h2>
			<div class="row">
				<div class="col-md-5 col-sm-5 col-xs-5">
					<h4>Feedback</h4>
				</div>
				<div class="col-md-1 col-sm-1 col-xs-0">	
				</div>
				<div class="col-md-5 col-sm-5 col-xs-7">
					<h4>Guesses</h4>
				</div>
			</div>
			<% 12.times do |i| %>
				<div class="row">
					<div class="col-md-5 col-sm-5 col-xs-5 feedback-col">
						<div class="feedback">
							<% if feedback_view[i] %>
								<%=i+1%><% feedback_view[i].each do |img| %>
									<img src="<%=img%>" class="check" />
								<% end %>
							<% end %>
						</div>
					</div>
					<div class="col-md-1 col-sm-1 col-xs-0">
					</div>
					<div class="col-md-5 col-sm-5 col-xs-7">
						<div class="guess">
						<% if guess_view[i] %>
							<% guess_view[i].each do |img| %>
								<img src="<%=img%>" class="circle" />
							<% end %><%=i+1%>
						<% end %>
						</div>
					</div>
				</div>
			<% end %>
			<form id="mastermind">
				<% 4.times do |i|%>
					<select name="spot-<%= i+1 %>" form="mastermind">
					  <option value="red">red</option>
					  <option value="green">green</option>
					  <option value="blue">blue</option>
					  <option value="yellow">yellow</option>
					  <option value="maroon">maroon</option>
					  <option value="cyan">cyan</option>
					</select>
				<% end %>
				<input type="submit" name="Guess!" class="btn btn-primary">
			</form>
			<a href="/reset" class="btn btn-primary">Reset</a>
			<h4><%=game.turns_left%> turns left</h4>
			<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#help">Instructions</button>
		  <div id="help" class="collapse">
		    The computer has selected a secret combination of colors. Your job is to guess the combination within the given number of turns. Repeated colors are allowed and order counts. When you press submit, your guess will be recorded and you will be given feedback on your guess. A <img src="green_check.png" class="check">  indicates that you have a color in the correct position, a <img src="red_check.png" class ="check">  indicates that you have matched a color, but it is not in the correct spot. No feedback will be given for completely incorrect guesses, and only one check will be given per color.<br>For example, given a secret of 4 reds, if you were to guess 1 red and 3 blues, you would only see 1 green check.<br> Another example, say that the secret is red, green, blue, yellow. You select green, red, cyan, yellow. Your feedbacl would be <img src="green_check.png" class="check"><img src="red_check.png" class ="check"><img src="red_check.png" class ="check">. Notice that the feedback order is NOT representative of the guess order, giving green checks first, and then red checks.
		  </div>
		</div>
	</div>
</body>
</html>